.header{
background-color:#131921;
display: flex;
align-items: center;
position: sticky;
top: 0;
z-index: 100;
}
.header_logo{
width: 150px;
object-fit: contain;
margin-top: 10px;
margin-left: 60px;
margin-right: 20px;
}
.header_search{
display: flex;
flex: 1;
}
.search{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.searchicon{
    background-color: orange;
    padding: 5px;
    height: 22px !important;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.link{
color: white;
text-decoration: none;
}
.option{
display: flex;
flex-direction: column;
margin-left: 10px;
margin-right: 10px;
}
.option-one{
    font-size: 10px;
}
.option-two{
font-size: 13px;
font-weight: 800;
}
.option-basket{
    display: flex;
    align-items: center;

}
.count{
margin-left: 10px;
margin-right: 10px;
}